<div class="cointainer">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="inputFullName" class="form-label">Full Name</label>
                            <input type="text" formControlName="fullName" class="form-control" id="inputFullName">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email Aaddress</label>
                            <input type="email" formControlName="email" class="form-control" id="inputEmail">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" formControlName="password" class="form-control" id="inputPassword">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Role</label>
                            <div class="form-check" *ngFor="let role of roles; let index = index">
                                <input class="form-check-input" type="radio" [checked]="role.isSelected" (change)="onRoleChange(role.name)" name="role" id="{{index}}">
                                <label class="form-check-label" for="{{index}}">{{role.name}}</label>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>